* {
    box-sizing: border-box;
    text-decoration: none;

}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Poppins" , sans-serif;
    
}

:root {
    --color-green: #38AF90; 
    --color-white:#FFFFFF;
    --color-gray: #797979;
    --color-red: #DD7E92;
    --color-bg-white: #F0F0F0; 
    --color-bg-black: #383838; 
}

.nav-container {
    background-color: var(--color-green);
    height: 90px;
    width: 100%;
    padding: 27px;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.25);
    border-radius: 2px;

    
}

.nav-main {
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
    
}

.nav-main a {
    color: var(--color-white);
}

.menu-itens {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.menu-itens li {
    margin: 10px;
    font-size: 14px;
    padding-bottom: 10px;
}

.nav-brand {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.profile-avatar img {
    height: 62px;
    height: 62px;
    padding-bottom: 10px;
    

}

.news-title {
    font-size: 2.12rem;
    text-align: center;
    color: var(--color-gray);
}

.news-container-card {
    width: 100%;
    max-width: 990px;
    background-color: var(--color-bg-white);
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.25);
    padding: 16px 41px 15px 40px;
    margin-bottom: 40px;
}

.container-border {
    border-bottom:  1px solid #38AF90 ;
}

.news-container-card2 {
    width: 100%;
    max-width: 990px;
    background-color: var(--color-bg-white);
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.25);
    padding: 16px 41px 15px 40px;
    margin-bottom: 40px;
}

.news-container h2{
    color: var(--color-green);
    font-size: 1.5rem;
}

.news-container h3 {
    color: var(--color-gray);
    font-size: 1rem;
}

.news-container h4 {
    color: var(--color-green);
    font-size: 10px;
}

.news-container p {
    color: var(--color-gray);
    font-size: 10px;
}

.container-about-speak {
    color: var(--color-red);
    font-size: 14px;
    cursor: pointer;
}

.container-load-more {
    margin: 100%;
    width: 244px;
    height: 67px;
    background-color: var(--color-red);
    margin: 0 auto;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 56px;
    
}

.container-load-title {
    font-size: 18px;
    color: var(--color-white);
    text-align: center;
    padding: 20px;
}

.container-section-games {
    background-color: var(--color-bg-white);

}

.container-games-position {
    color: var(--color-green);
    text-align: center;
    font: 24px;
    padding: 40px;
    margin: 0;
}

.container-section-games img {
    border-radius: 8px 8px 0px 0px;
}

.games-card {
    background-color: var(--color-white);
    width: 300px;
    border-radius:8px ;
    margin: 0 auto;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.25);
    
}

.games-card h3 {
    font-size: 18px ;
    color: var(--color-gray);
}

.games-card p {
    font-size: 14px;
}

.games-card h1 {
    font-size: 36px;
    color: var(--color-green);
}

.align-text {
    text-align: center;
}

.container-section {
    background-color: var(--color-bg-white) ;
    width: 300px;
    height: 603px;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.25);
}

#signup {
    font-size: 24px;
    color: var(--color-gray);
    text-align: center;
    margin: 40px 0px 16px 0px;
}

.container-card-section {
    width: 280px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;

}

.container-card-section input {
    padding: 2px;
    margin: 5px;
}

.container-section p {
    padding: 8px;
    font-size: 16px;
    color: var(--color-gray);
}

.container-plataform-console {
    padding: 0px 10px 6px 6px;
    color: var(--color-gray);
}

.container-notification-card {
    padding: 10px;
}

.container-submit {
    background-color: var(--color-red);
    width: 244px;
    height: 67px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    border: 0px;
}

.container-submit1 {
    border: 2px solid #DD7E92;
    margin: 20px;
    background-color: var(--color-white);
    width: 244px;
    height: 67px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
}

.container-reset {
    color: var(--color-red);
}

.container-footer {
    background-color: var(--color-bg-black);
    text-align: center;
    color: var(--color-white);
    font-size: 14px;
}

@media(min-width: 320px){
    html{
        font-size: 20px;
    }



}





